.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.84rem;
  height: 6.76rem;
}
.div22 {
  top: 0;
  left: 0;
}
.div22,
.div23,
.parent5 {
  position: absolute;
}
.div23 {
  top: 0.97rem;
  left: 0;
  font-size: 0.5rem;
}
.parent5 {
  top: 4.76rem;
  left: 0.96rem;
  width: 5.06rem;
  height: 1.6rem;
}
.carla-rosser,
.name {
  position: absolute;
  top: 0.69rem;
  left: 0.96rem;
  font-size: 0.55rem;
}
.carla-rosser {
  top: 1.49rem;
  font-size: 0.82rem;
}
.group-icon13 {
  position: absolute;
  height: 11.02%;
  width: 17.92%;
  top: 70.36%;
  right: 8.65%;
  bottom: 18.62%;
  left: 73.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent10 {
  position: absolute;
  top: 4.98rem;
  left: 12.43rem;
  width: 12.84rem;
  height: 6.76rem;
  text-align: left;
  font-size: 0.64rem;
  color: #fff;
  font-family: Gilroy-SemiBold;
}
