.button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16.09px;
  background-color: #0177fb;
  width: 12.89rem;
  height: 2.74rem;
}
.send-money {
  position: absolute;
  top: 0.91rem;
  left: 4.36rem;
}
.button,
.child {
  position: absolute;
  left: 0;
}
.button {
  top: 14.3rem;
  width: 12.89rem;
  height: 2.74rem;
  color: #fff;
}
.child {
  top: 0;
  border-radius: 10.24px;
  background-color: #fff;
  box-shadow: 0 10.96875px 21.94px rgba(122, 122, 122, 0.2);
  width: 12.79rem;
  height: 3.02rem;
}
.group-child28 {
  top: 0;
  left: 0;
  width: 1.34rem;
  height: 0.91rem;
}
.debit1,
.div25,
.group-child28 {
  position: absolute;
}
.debit1 {
  top: 0.11rem;
  left: 1.99rem;
}
.div25 {
  top: 0;
  left: 0;
}
.div26,
.parent6 {
  position: absolute;
  top: 0;
  left: 0.56rem;
  color: #131635;
}
.parent6 {
  left: 6.25rem;
  width: 2.74rem;
  height: 0.88rem;
  font-size: 0.73rem;
  color: #a4b4cb;
}
.vector-icon18 {
  position: absolute;
  height: 25.97%;
  width: 3.5%;
  top: 38.37%;
  right: -0.24%;
  bottom: 35.66%;
  left: 96.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent11 {
  position: absolute;
  top: 1.05rem;
  left: 1.12rem;
  width: 10.55rem;
  height: 0.91rem;
}
.div24 {
  left: 0;
  width: 12.79rem;
  height: 3.02rem;
}
.div24,
.ellipse-icon,
.item {
  position: absolute;
  top: 0;
}
.item {
  left: 0;
  border-radius: 10.24px;
  background-color: #fff;
  box-shadow: 0 10.96875px 21.94px rgba(118, 118, 118, 0.2);
  width: 12.79rem;
  height: 4.52rem;
}
.ellipse-icon {
  left: 0.01rem;
  border-radius: 50%;
  width: 0.91rem;
  height: 0.91rem;
  object-fit: cover;
}
.enter-the-amount {
  position: absolute;
  top: 0.14rem;
  left: 1.44rem;
}
.div29,
.parent7 {
  position: absolute;
}
.div29 {
  top: 0;
  left: 1.11rem;
  font-size: 1.33rem;
  color: #131635;
}
.parent7 {
  top: 1.71rem;
  left: 0;
  width: 5.49rem;
  height: 1.69rem;
  font-size: 1.37rem;
  color: #a4b4cb;
  font-family: Gilroy-SemiBold;
}
.group-child29 {
  position: absolute;
  top: 1.48rem;
  left: 5.52rem;
  background-color: #0177fd;
  width: 0.05rem;
  height: 1.85rem;
}
.group-child30 {
  position: absolute;
  top: 1.78rem;
  left: 8.81rem;
  width: 1.98rem;
  height: 1.28rem;
}
.ellipse-container {
  position: absolute;
  top: 0.22rem;
  left: 0.95rem;
  width: 10.79rem;
  height: 3.4rem;
}
.div27,
.inner {
  position: absolute;
}
.div27 {
  top: 4.28rem;
  left: 0.09rem;
  width: 12.79rem;
  height: 4.52rem;
  font-size: 0.64rem;
  color: #798ba3;
  font-family: Gilroy-Medium;
}
.inner {
  top: 0.1rem;
  left: 0;
  border-radius: 50%;
  width: 1.23rem;
  height: 1.23rem;
  object-fit: cover;
}
.astrid-hayes {
  position: absolute;
  top: 0.37rem;
  left: 1.9rem;
}
.child1 {
  position: absolute;
  top: 0;
  left: 11.29rem;
  width: 1.46rem;
  height: 1.46rem;
}
.div30 {
  top: 9.87rem;
  left: 0.05rem;
  width: 12.75rem;
  height: 1.46rem;
  font-size: 0.73rem;
  color: #161616;
}
.cards,
.div30,
.tittle {
  position: absolute;
}
.cards {
  top: 1.89rem;
  left: 0.06rem;
  width: 12.87rem;
  height: 11.34rem;
  font-size: 0.55rem;
}
.tittle {
  top: 0;
  left: 0.09rem;
  font-size: 1.01rem;
  font-family: Gilroy-Medium;
}
.send-money-list {
  position: absolute;
  top: 13.3rem;
  left: 12.43rem;
  width: 12.93rem;
  height: 17.04rem;
  text-align: left;
  font-size: 0.73rem;
  color: #141736;
  font-family: Gilroy-SemiBold;
}
