.group-child61,
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #090909;
  width: 90rem;
  height: 37.31rem;
}
.group-child62 {
  border-radius: 50%;
  background-color: #ffa051;
  width: 1.81rem;
  height: 1.81rem;
}
.mospending4 {
  position: absolute;
  top: 0.19rem;
  left: 0.88rem;
  font-weight: 600;
}
.ellipse-parent8 {
  position: absolute;
  top: 15.5rem;
  left: 4.38rem;
  width: 9rem;
  height: 1.81rem;
  font-size: 1.25rem;
  font-family: Montserrat;
}
.discover-the-power {
  position: absolute;
  top: 18.13rem;
  left: 4.38rem;
  line-height: 196.42%;
}
.mospending-powered-bysilver,
.product1 {
  position: absolute;
  top: 33.19rem;
  left: 4.38rem;
  line-height: 174.02%;
}
.product1 {
  top: 14.31rem;
  left: 54.19rem;
  font-size: 1.13rem;
  font-weight: 500;
}
.how-it-works {
  margin: 0;
}
.how-it-works-container {
  position: absolute;
  top: 17.69rem;
  left: 54.19rem;
  line-height: 262.02%;
}
.about-faqs-contact-container,
.privacy-policy-terms-container {
  position: absolute;
  top: 17.69rem;
  left: 66.25rem;
  line-height: 262.02%;
}
.privacy-policy-terms-container {
  left: 78.44rem;
}
.company1,
.utility1 {
  position: absolute;
  top: 14.31rem;
  left: 66.25rem;
  font-size: 1.13rem;
  line-height: 174.02%;
  font-weight: 500;
}
.utility1 {
  left: 78.38rem;
}
.icon7 {
  position: absolute;
  top: 23.88rem;
  left: 4.38rem;
  width: 13.63rem;
  height: 2.19rem;
  object-fit: cover;
}
.line-div {
  position: absolute;
  top: 30.97rem;
  left: -0.03rem;
  border-top: 1px solid #444;
  box-sizing: border-box;
  width: 90.06rem;
  height: 0.06rem;
}
.rectangle-parent18 {
  position: absolute;
  top: 26.38rem;
  left: 0;
  width: 90rem;
  height: 37.31rem;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  font-family: Manrope;
}
