.mospending-1-1 {
  position: relative;
  width: 650px;
  height: 3035.8px;
  object-fit: cover;
}
.frame {
  position: absolute;
  top: 50px;
  left: -215px;
  width: 909px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.mospending-1-2 {
  position: undefined;
  width: 598.01px;
  height: 2792.986328125px;
  object-fit: cover;
  margin-left: 787px;
}
.frame1 {
  position: absolute;
  top: -1692px;
  left: -215px;
  width: 1920px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.mospending {
  background-color: #3734a9;
  width: 1200px;
  height: 900px;
  overflow: hidden;
}
