.recent-transactions {
  position: absolute;
  top: 0;
  left: 0.05rem;
  font-size: 0.91rem;
}
.bitcoin-transactions,
.sent-to-anitonia,
.withdraw-paypal {
  position: absolute;
  top: 2.88rem;
  left: 2.56rem;
  color: #343744;
}
.sent-to-anitonia,
.withdraw-paypal {
  top: 6.03rem;
}
.withdraw-paypal {
  top: 9.1rem;
}
.group-child33,
.image-165-icon {
  position: absolute;
  left: 0;
  width: 1.83rem;
  height: 1.83rem;
}
.image-165-icon {
  top: 2.38rem;
  object-fit: cover;
}
.group-child33 {
  top: 0;
  border-radius: 50%;
  background-color: #e8edff;
}
.image-166-icon {
  position: absolute;
  top: 0.27rem;
  left: 0.46rem;
  width: 0.91rem;
  height: 1.23rem;
  object-fit: cover;
}
.ellipse-parent3,
.group-child34 {
  position: absolute;
  top: 8.59rem;
  left: 0.05rem;
  width: 1.83rem;
  height: 1.83rem;
}
.group-child34 {
  top: 5.53rem;
  border-radius: 50%;
  object-fit: cover;
}
.jan-16-2020 {
  position: absolute;
  top: 3.06rem;
  left: 11.43rem;
}
.div33,
.div34,
.div35 {
  position: absolute;
  top: 3.02rem;
  left: 18.78rem;
}
.div34,
.div35 {
  top: 6.08rem;
}
.div35 {
  top: 9.28rem;
}
.div36,
.div37,
.div38 {
  position: absolute;
  top: 3.06rem;
  left: 25.96rem;
}
.div37,
.div38 {
  top: 6.08rem;
}
.div38 {
  top: 9.28rem;
  left: 25.91rem;
}
.jan-16-20201,
.jan-16-20202 {
  position: absolute;
  top: 6.08rem;
  left: 11.43rem;
}
.jan-16-20202 {
  top: 9.28rem;
}
.group-child35 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.66px;
  background-color: #ebfff3;
  width: 3.57rem;
  height: 1.37rem;
}
.sucess {
  position: absolute;
  top: 0.27rem;
  left: 0.78rem;
}
.rectangle-parent9 {
  top: 2.74rem;
  left: 33.04rem;
  color: #61bb84;
}
.group-child37,
.rectangle-parent10,
.rectangle-parent9 {
  position: absolute;
  width: 3.57rem;
  height: 1.37rem;
}
.rectangle-parent10 {
  top: 8.68rem;
  left: 33.04rem;
  color: #61bb84;
}
.group-child37 {
  top: 0;
  left: 0;
  border-radius: 3.66px;
  background-color: #fff1ed;
}
.pending {
  position: absolute;
  top: 0.27rem;
  left: 0.55rem;
}
.rectangle-parent11 {
  position: absolute;
  top: 5.67rem;
  left: 33.04rem;
  width: 3.57rem;
  height: 1.37rem;
  color: #ffaa90;
}
.shape-icon1,
.view-all {
  position: absolute;
  top: 0;
  left: 0;
}
.shape-icon1 {
  height: 50.62%;
  width: 8.94%;
  top: 22.5%;
  right: 0;
  bottom: 26.87%;
  left: 91.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.view-all-parent {
  position: absolute;
  top: 0.18rem;
  left: 33.04rem;
  width: 2.81rem;
  height: 0.81rem;
  color: #5e636a;
}
.recent-transactions-parent {
  position: absolute;
  top: 23.99rem;
  left: 27.15rem;
  width: 36.61rem;
  height: 10.42rem;
  text-align: left;
  font-size: 0.64rem;
  color: #161616;
  font-family: Gilroy-SemiBold;
}
