.group-child48 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 10.97rem;
  height: 51.1rem;
}
.invoices {
  position: absolute;
  top: 0;
  left: 1.55rem;
}
.vector-icon23 {
  position: absolute;
  height: 83.33%;
  width: 75%;
  top: 8.33%;
  right: 12.5%;
  bottom: 8.33%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child49,
.vector-group {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child49 {
  width: 1.1rem;
  height: 1.1rem;
}
.vector-group {
  height: 97.5%;
  width: 24.09%;
  right: 75.91%;
  bottom: 2.5%;
}
.invoices-parent {
  position: absolute;
  top: 3.11rem;
  left: 0.73rem;
  width: 4.55rem;
  height: 1.13rem;
}
.vector-icon24 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-container {
  position: absolute;
  height: 97.5%;
  width: 22.25%;
  top: 0;
  right: 77.75%;
  bottom: 2.5%;
  left: 0;
}
.analytics-parent {
  position: absolute;
  top: 13.35rem;
  left: 0.73rem;
  width: 4.93rem;
  height: 1.13rem;
}
.vector-parent1 {
  position: absolute;
  height: 97.5%;
  width: 25.86%;
  top: 0;
  right: 74.14%;
  bottom: 2.5%;
  left: 0;
}
.activity-parent {
  position: absolute;
  top: 10.79rem;
  left: 0.73rem;
  width: 4.24rem;
  height: 1.13rem;
}
.vector-icon26 {
  position: absolute;
  height: 62.5%;
  width: 83.33%;
  top: 16.67%;
  right: 8.33%;
  bottom: 20.83%;
  left: 8.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent2 {
  position: absolute;
  height: 97.5%;
  width: 19.97%;
  top: 0;
  right: 80.03%;
  bottom: 2.5%;
  left: 0;
}
.my-wallets-parent {
  position: absolute;
  top: 8.23rem;
  left: 0.73rem;
  width: 5.49rem;
  height: 1.13rem;
}
.vector-icon27 {
  position: absolute;
  height: 83.34%;
  width: 83.45%;
  top: 8.33%;
  right: 8.21%;
  bottom: 8.33%;
  left: 8.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent3 {
  height: 97.5%;
  width: 13.95%;
  right: 86.05%;
  bottom: 2.5%;
  left: 0;
}
.div41,
.group-child54,
.vector-parent3 {
  position: absolute;
  top: 0;
}
.group-child54 {
  left: 0;
  border-radius: 50%;
  background-color: #0177fb;
  width: 0.96rem;
  height: 0.96rem;
}
.div41 {
  left: 0.27rem;
  font-weight: 500;
}
.ellipse-parent6 {
  position: absolute;
  top: 0.09rem;
  left: 6.9rem;
  width: 0.96rem;
  height: 0.96rem;
  font-size: 0.64rem;
  color: #fff;
}
.messages-parent {
  position: absolute;
  top: 5.67rem;
  left: 0.73rem;
  width: 7.86rem;
  height: 1.13rem;
}
.group-child55 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.39px;
  background-color: #e5f1ff;
  width: 8.59rem;
  height: 2.19rem;
}
.dashboard1 {
  position: absolute;
  top: 0;
  left: 1.55rem;
  font-weight: 500;
}
.vector-icon28 {
  position: absolute;
  height: 83.43%;
  width: 75%;
  top: 8.33%;
  right: 12.5%;
  bottom: 8.23%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent4 {
  position: absolute;
  height: 97.5%;
  width: 19.31%;
  top: 0;
  right: 80.69%;
  bottom: 2.5%;
  left: 0;
}
.dashboard-parent {
  position: absolute;
  top: 0.55rem;
  left: 0.69rem;
  width: 5.68rem;
  height: 1.13rem;
}
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.59rem;
  height: 2.19rem;
  color: #0177fd;
}
.group-parent12 {
  position: absolute;
  top: 4.2rem;
  left: 1.19rem;
  width: 8.59rem;
  height: 14.47rem;
}
.mospending3 {
  position: absolute;
  top: 0.14rem;
  left: 1.92rem;
  font-weight: 600;
}
.group-child57 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.37rem;
  height: 1.37rem;
}
.mospending-parent {
  position: absolute;
  top: 1.46rem;
  left: 1.19rem;
  width: 6.61rem;
  height: 1.37rem;
  color: #2f2f32;
}
.rectangle-icon {
  position: absolute;
  top: 4.52rem;
  left: 0;
  width: 0.18rem;
  height: 1.51rem;
}
.vector-parent5 {
  position: absolute;
  height: 97.5%;
  width: 23.44%;
  top: 0;
  right: 76.56%;
  bottom: 2.5%;
  left: 0;
}
.get-help-parent,
.settings-parent {
  position: absolute;
  top: 45.61rem;
  left: 1.92rem;
  width: 4.68rem;
  height: 1.13rem;
}
.settings-parent {
  top: 48.17rem;
  width: 4.55rem;
}
.group-child60,
.rectangle-parent16 {
  position: absolute;
  top: 0;
  height: 51.1rem;
}
.group-child60 {
  left: 10.97rem;
  background-color: #e8ecf5;
  width: 0.09rem;
}
.rectangle-parent16 {
  left: 0;
  width: 11.06rem;
  text-align: left;
  font-size: 0.73rem;
  color: #131635;
  font-family: Poppins;
}
