.our-fintech-app,
.our-fintech-app1 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  width: 79.5rem;
}
.our-fintech-app1 {
  font-size: 1rem;
  font-weight: 500;
  color: #f4f4f4;
  width: 48.44rem;
  opacity: 0.6;
}
.enter-your-email {
  position: relative;
  font-weight: 500;
  opacity: 0.7;
}
.frame45 {
  border-radius: 31px;
  background-color: rgba(255, 255, 255, 0.16);
  width: 22rem;
  height: 2.56rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.56rem;
  box-sizing: border-box;
}
.create-account1 {
  position: relative;
  font-weight: 500;
}
.create-account-container {
  border-radius: 31px;
  background-color: #ffa051;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.69rem 1.5rem;
  margin-left: -6.06rem;
  color: #fff;
}
.frame-parent31,
.our-fintech-app-makes-managing-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent31 {
  width: 25.44rem;
  height: 2.56rem;
  flex-direction: row;
  text-align: left;
  font-size: 0.88rem;
  color: #dfdfdf;
}
.our-fintech-app-makes-managing-parent {
  flex-direction: column;
  gap: 1.5rem;
  position: undefined;
  width: 71.19rem;
  margin-top: 42.44rem;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-family: Manrope;
}
