.our-fintech-app,
.our-fintech-app1 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  width: 79.5rem;
}
.our-fintech-app1 {
  font-size: 1rem;
  font-weight: 500;
  color: #f4f4f4;
  width: 48.44rem;
  opacity: 0.6;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 31px;
  background-color: rgba(255, 255, 255, 0.16);
  width: 22rem;
  height: 2.56rem;
}
.enter-your-email {
  position: absolute;
  top: 26.83%;
  left: 6.14%;
  font-weight: 500;
  opacity: 0.7;
}
.create-account {
  position: relative;
  font-weight: 500;
}
.create-account-wrapper {
  position: absolute;
  top: 0;
  left: 15.94rem;
  border-radius: 31px;
  background-color: #ffa051;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.69rem 1.5rem;
  color: #fff;
}
.rectangle-parent8 {
  position: relative;
  width: 25.44rem;
  height: 2.56rem;
  text-align: left;
  font-size: 0.88rem;
  color: #dfdfdf;
}
.our-fintech-app-makes-managing-parent {
  position: absolute;
  top: 12.38rem;
  left: 5.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-family: Manrope;
}
